<h1>My personnal coach</h1>

<p><h4><%= params[:question] %></h4>
<h5>- Me</h5>

<h4><%= @answer %></h4>
<h5>- Your coach</h5></p>

<button type="button" class="btn btn-light"><%= link_to "Ask a new question", ask_path %></button>
